<template>
    <div class="add-url">
        <h1>Take Notes</h1>
        <input
            type="text"
            name="url"
            v-model="formUrl" />
        <button
            v-on:click.stop.prevent="handleUrl">
            Submit
        </button>
    </div>
</template>

<script>
// import extractor from 'unfluff';
import axios from 'axios';

export default {
    name: 'AddUrl',
    components: {
    },
    data() {
        return {
            formUrl: '',
        };
    },
    methods: {
        handleUrl() {
            axios.get(this.formUrl, {
                responseType: 'html',
                onDownloadProgress: this.handleUrlProgress,
                maxContentLength: 10 * 1000, // 10 MB
            }).then((response) => {
                debugger;
                console.log(response)
            }).catch(err => console.error(err));
        },
        handleUrlProgress(event) {
            console.log(event);
        },
    }
};
</script>
